certifi==2020.12.5
cloudmersive-convert-api-client==3.0.8
docx2pdf==0.1.7
docxtpl==0.11.2
Jinja2==2.11.2
lxml==4.6.2
MarkupSafe==1.1.1
numpy==1.19.4
pandas==1.1.5
python-dateutil==2.8.1
python-docx==0.8.10
pytz==2020.4
six==1.15.0
tqdm==4.54.1
urllib3==1.26.2
xlrd==2.0.1
